<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elegant Drops | Admin</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/admin-react/assets/index.css}">
</head>
<body style="margin:0; background:#111009;">

<script th:inline="javascript">
    window.ADMIN_PATH = [[${adminPath}]];
</script>

<div id="root"></div>

<script type="module" th:src="@{/admin-react/assets/index.js}"></script>

</body>
</html>